@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.navbar i{
    display:none;
}

.navbar-list {

    margin-top: 1.3em;
    margin-right: 4em;
    word-spacing: 0.2em;
    font-size: 1.15em;
}

.sideColumn{
    height:100vh;
    width:30%;
    background-color: #ffe070;
    position: absolute;
    right: 0px;
    display: none;
    animation: sideColSlide .8s ease-in-out;
    opacity:0.85;
}


.sideColumn li{
    display: grid;
    justify-items: center;
    line-height: 5;
    
}

.sideColumn li a{
  font-family: "Great Vibes",sans-serif;
  font-size: 1.8em;
  box-shadow: #939393;
  text-decoration: none;
  color:black;
}

@keyframes sideColSlide{
    0% {
        left: -100%;
        opacity: 0;
    }

    100% {

        opacity: 1;
    }

}

.close-btn {
    display:none;
    margin-top: 20px;
    margin-left:15px;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}


.navbar-list a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
}

.navbar-list a:hover {
    text-decoration: underline;
    color: #71ff97;
}

.navbar-logo{
    width:40%;
}


.logofoto {
    height: 170px;
    padding: 20px 50px;
}

.header {
    width: 100vw;
    height: 100vh;
    background-image: url(images/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-position: center;
    color: #f8f9fa;
}

.mansh {
    width: 80%;
    height: auto;
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    position: relative;
    margin-top: 200px;
    animation: slide-in 1.5s forwards ease-in-out;
    overflow: hidden;
    transform: translate(-90px, -100px);
}

@keyframes slide-in {
    0% {
        left: -100%;
        opacity: 0;
    }

    100% {
        left: 150px;
        opacity: 1;
    }
}

.content {
    width: 100%;
    height: 450px;
    height: min-content;
    background-color: #fff3e4;
}

.content-title {
    text-align: center;
    font-family: "Great Vibes", cursive;
    padding: 35px;
    font-size: 4em;
    font-weight: 100;
}

.content-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
    padding: 15px;
}

.imgframe {
    height: 19em;
    padding: 30px;
    background-image: url(images/sandwich1.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 20px;
}

.imgframe:nth-child(3) {
    height: 19em;
    padding: 30px;
    background-image: url(images/wallpaperflare.com_wallpaper\ \(10\).jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 20px;
}

.imgframe:nth-child(5) {
    height: 19em;
    padding: 30px;
    background-image: url(images/wallpaperflare.com_wallpaper\ \(3\).jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 20px;
}

.imgframe:nth-child(7) {
    height: 19em;
    padding: 30px;
    background-image: url(images/wallpaperflare.com_wallpaper\ \(4\).jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 20px;
}

.content-images p {
    font-family: "Poppins", sans-serif;
}

.devaminioku {
    display: none;
}

.read-more-btn {

    background-color: transparent;
    color: rgb(217, 44, 44);
    border: none;
    outline: none;
    font-size: 18px;
    display: inline;
    cursor: pointer;
}

.contentparag.show-more .devaminioku {
    display: inline;
}

.contentparag.show-more .dots {
    display: none;
}

.content-images label {
    font-family: "Great Vibes", cursive;
    font-size: 3.2em;
}

.content-images a {
    background-color: #ab762c;
    border-radius: 15px;
    padding: 12px 10px;
    text-decoration: none;
    color: white;
}

.dahafazlasi {
    background-color: transparent;
    border: none;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    position: relative;
    display: block;
}

.map-container {
    padding: 20px;

    text-align: left;
    background-color: #fff3e4;
}

.map-container h3 {
    font-family: "Great Vibes", cursive;
    font-size: 2.7em;
    font-weight: 100;
    text-align: center;
    margin: 35px;
}


.gridcontainer {
    height:100%;
    width:auto;
    border: 0.001px solid rgb(208, 208, 208);
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 2em;
    background-image: url(images/wallpaperflare.com_wallpaper\ \(9\).jpg);
    opacity: 1;
}

iframe {
    width: 100%;
    height: -webkit-fill-available;
}

form {
    outline: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

form input {
    border-radius: 15px;
    border: 0.2px solid rgb(208, 208, 208);
    height: 45px;
    width: 93%;
    font-family: "Poppins", sans-serif;
}

form textarea {
    width: auto;
    border-radius: 15px;
    border: 0.2px solid rgb(208, 208, 208);
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    padding: 5px;
    width: 93%;
    resize: none;
}

form button {
    padding: 20px 20px;
    border: none;
    background-color: #ab762c;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    border-radius: 15px;
    width: 93%;
    cursor: pointer;
}


.footer {
    width: 100%;
    height: 200px;
    background-image: url(images/wallpaperflare.com_wallpaper\ \(6\).jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.footernote {
    font-size: 1.3em;
    color: #fff3e4;
    font-family: "Poppins", sans-serif;
    width: 40%;
    margin: 30px;
}

.footernote label {
    position: relative;
    font-size: 15px;
    right: -230px;
    top: 40px;

}

.footerlogo img {
    width: 180px;
    margin: 18px;
}

@media (max-width:940px) {

    .navbar-list {
        display: none;
    }

    .navbar i{
        display:block;
        cursor: pointer;
        margin-top: 2em;
        position: relative;
        right: 2em;
    }

    .sideColumn{
        height:100vh;
        width:30%;
        background-color: #ffd76a;
        position: absolute;
        right: 0px;
    }

    .footerlogo img {
        width: 150px;
        margin: 15px;
    }

    .footernote {
        margin: 20px;
        font-size: 1em;
    }
}


@media (max-width:400px){
    iframe{
        display:none;
    }
    .formpage{
        width:250px;
    }

    .logofoto{
        height:135px;
    }

    .sideColumn{
        
        width:40%;
       
    }
}

@media (max-width:768px) {

    .mansh {
        width: 80%;
       height: auto;
       font-size:1.22em;
    }
   

    .content-images{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px; /* İsteğe bağlı olarak hücreler arasındaki boşluk */
    }


    .navbar-list {
        display: none;
    }

    .footerlogo img {
        width: 120px;
        margin: 13px;
    }

    .footernote {
        margin: 20px;
        font-size: 1.2em;
    }
}